<h3 class="mt-3 text-center">Latest Books</h3>

<div class="mt-4">
    <div class="cards">
      <div *ngFor="let book of books; let i = index">
        <app-book-card
          [book]="book"
          [footerMode]="3"
        ></app-book-card>
      </div>
    </div>
  </div>

<br/>

<div class="d-flex justify-content-center">
  <pagination
    [boundaryLinks]="true"
    [totalItems]="pagination.totalItems"
    [itemsPerPage]="pagination.itemsPerPage"
    [(ngModel)]="pagination.currentPage"
    (pageChanged)="pageChanged($event)"
    previousText="&lsaquo;"
    nextText="&rsaquo;"
    firstText="&laquo;"
    lastText="&raquo;"
  >
  </pagination>
</div>
