<!-- Navigation -->
<nav class="navbar navbar-expand-sm navbar-dark bg-primary fixed-top">
  <div class="container">
    <a class="navbar-brand" [routerLink]="['/']"
      ><i class="fas fa-exchange-alt"></i> Book-Swap</a
    >
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarResponsive"
      aria-controls="navbarResponsive"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item" *ngIf="loggedIn()">
          <a
            class="nav-link"
            href="#"
            routerLinkActive="active"
            [routerLink]="['/booklatest']"
            >Books</a
          >
        </li>
        <li class="nav-item" *ngIf="loggedIn()">
          <a
            class="nav-link"
            href="#"
            routerLinkActive="active"
            [routerLink]="['/members']"
            >Members</a
          >
        </li>

        <li class="nav-item" *ngIf="loggedIn()">
          <a
            class="nav-link"
            href="#"
            routerLinkActive="active"
            [routerLink]="['/trades']"
            >My Trades</a
          >
        </li>

        <li class="nav-item" *ngIf="loggedIn()">
          <a
            class="nav-link"
            href="#"
            routerLinkActive="active"
            [routerLink]="['/booklist']"
            >My Books</a
          >
        </li>

        <li class="nav-item" *ngIf="loggedIn()">
          <a
            class="nav-link"
            href="#"
            routerLinkActive="active"
            [routerLink]="['/bookadd']"
          >
            Add Book
          </a>
        </li>
        <li class="nav-item" *ngIf="loggedIn()">
          <a class="nav-link" href="#" (click)="logOut()">Log Out</a>
        </li>
        <li class="nav-item" *ngIf="!loggedIn()">
          <a class="nav-link" [routerLink]="['/login']">Sign In</a>
        </li>
        <li class="nav-item" *ngIf="!loggedIn()">
          <a class="nav-link" [routerLink]="['/register']">Sign Up</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
