<h3 class="mt-3 text-center mb-3">Members List</h3>

<div class="row justify-content-center">

  <div class="list-group" style="width: 450px;">
      <a
      href="#" [routerLink]="[ '/members', user.id ]"
      class="list-group-item list-group-item-action flex-column align-items-start"
      *ngFor="let user of users"
      >
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">{{ user.username }}</h5>
        <p>
          <span class="badge badge-info"
          >Books:&nbsp;&nbsp;&nbsp;{{ user.booksCount }}</span
          >
        </p>
      </div>
      <p class="mb-1">from {{ user.city }}</p>
    </a>
  </div>

</div>
